Connected Services/BLL.WDLogin/BLL32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="btnLogin_Click_CheckLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="strPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnLogin_Click_CheckLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnLogin_Click_CheckLoginResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_record">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strStaffName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txt_Account" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="permissionGroupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Time" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login_recordResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Login_recordResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>