Connected Services/BLL.Assist/BLL3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="btnapplication">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnapplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnapplicationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnmodifyingfor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="dtpEnterDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtoperation" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cbodisease" type="xs:int" />
        <xs:element minOccurs="0" name="txtreport" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtAllergic" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtapplicant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtTotime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="cboPatients" type="xs:int" />
        <xs:element minOccurs="0" name="cbourgent" type="xs:int" />
        <xs:element minOccurs="0" name="cbobetween" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnmodifyingforResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnmodifyingforResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnaudit">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnauditResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnauditResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnReview">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="cboaudit" type="xs:int" />
        <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnReviewResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnReviewResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnDeleteation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnDeleteationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnDeleteationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnapproved">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnapprovedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnapprovedResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnAnesthesia">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnAnesthesiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnAnesthesiaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnsurgeon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnsurgeonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnsurgeonResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btninformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cbotype" type="xs:int" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="txtsurgeon" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtassistant" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtassistant2" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtassistant3" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtassistant4" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btninformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btninformationResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnongoing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnongoingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnongoingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnended">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnendedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnendedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnQuerycation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnQuerycationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnQuerycationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnRec">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnRecResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnRecResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnclassification">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnclassificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnclassificationResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnMaterialinput">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namegood" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Enternumbe" type="xs:int" />
        <xs:element minOccurs="0" name="Thepric" type="xs:decimal" />
        <xs:element minOccurs="0" name="Suppliescategor" type="xs:int" />
        <xs:element minOccurs="0" name="Generatethedat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expirationdat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Barcod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expirationdata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Drugnot" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnMaterialinputResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnMaterialinputResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSuppliesquery">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSuppliesqueryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnSuppliesqueryResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSuppliesdelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSuppliesdeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnSuppliesdeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnModifygoods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Namegood" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Enternumbe" type="xs:int" />
        <xs:element minOccurs="0" name="Thepric" type="xs:double" />
        <xs:element minOccurs="0" name="Suppliescategor" type="xs:int" />
        <xs:element minOccurs="0" name="Generatethedat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expirationdat" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Barcod" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Expirationdata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Drugnot" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnModifygoodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnModifygoodsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnApp">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnAppResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnauditing">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="cboApplication" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnauditingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnauditingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSdelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnSdeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnSdeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnRecipients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Then" type="xs:int" />
        <xs:element minOccurs="0" name="IntB" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnRecipientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnRecipientsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnmedicine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnmedicineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnmedicineResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>