Connected Services/BLL.ChuRuYuan/BLL32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="btnQuerydata">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnQuerydataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnQuerydataResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="logintime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="logintimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logintimeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGender">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectGenderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SelectGenderResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="department">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="departmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStaff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="cbo_PostSelectionChanged" type="xs:int" />
        <xs:element minOccurs="0" name="cbogender" type="xs:int" />
        <xs:element minOccurs="0" name="txtNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cboStaffType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtPhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cboWork" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtidCar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtmbirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtAge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtmentry_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtNote" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Bloodtype" type="xs:int" />
        <xs:element minOccurs="0" name="Drugallergy" type="xs:int" />
        <xs:element minOccurs="0" name="Emergencycontact" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Emergencynumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Homeaddress" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertStaffResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertStaffResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="patientID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Modifythedata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="cbo_PostSelectionChanged" type="xs:int" />
        <xs:element minOccurs="0" name="cbogender" type="xs:int" />
        <xs:element minOccurs="0" name="txtNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cboStaffType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtPhoneNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cboWork" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtidCar" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtmbirth" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtAge" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dtmentry_date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="txtAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txtNote" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModifythedataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ModifythedataResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBlood">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnBloodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnBloodResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="btnAllergic">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="btnAllergicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="btnAllergicResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>